<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class="container">

 <div class="login">
	<h1>Predict Hearth Attack </h1>


 <div style= "height: 400px; overflow-y: scroll;">   

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="RestingBP" placeholder="RestingBP" required="required" />
		<input type="text" name="Cholesterol" placeholder="Cholesterol" required="required" />
    <input type="text" name="FastingBS" placeholder="FastingBS" required="required" />
    <input type="text" name="MaxHR" placeholder="MaxHR" required="required" />
    <input type="text" name="Oldpeak" placeholder="Oldpeak" required="required" />
    <input type="text" name="Sex_M" placeholder="Sex_M" required="required" />
    <input type="text" name="ChestPainType_ATA" placeholder="ChestPainType_ATA" required="required" />
    <input type="text" name="ChestPainType_NAP" placeholder="ChestPainType_NAP" required="required" />
    <input type="text" name="ChestPainType_TA" placeholder="ChestPainType_TA" required="required" />
    <input type="text" name="RestingECG_Normal" placeholder="RestingECG_Normal" required="required" />
    <input type="text" name="RestingECG_ST" placeholder="RestingECG_ST" required="required" />
    <input type="text" name="ExerciseAngina _Y" placeholder="ExerciseAngina _Y" required="required" />
    <input type="text" name="ST_Slope_Flat" placeholder="ST_Slope_Flat" required="required" />
    <input type="text" name="ST_Slope_Up" placeholder="ST_Slope_Up" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 </div>




</body>
</html>